include ../mixins/flash-messages

doctype html
html

    //- HTML HEADER
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")

        title= title || 'Car Service'
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
                
        script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
        link(href='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/css/uikit.min.css', rel='stylesheet')

        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css")
        script(src="https://cdn.jsdelivr.net/npm/flatpickr")
          
        // Lastly add this package
        script(src="https://cdn.jsdelivr.net/npm/vue-flatpickr-component@8")
        block head
            style.
                @font-face {
                    font-family: 'google';
                    font-style: normal;
                    src: url('/171219074945google.woff');
                    src: local('google'), url('/171219074945google.woff') format('embedded-opentype'), url('/171219074945google.woff') format('woff');
                }
                
                .google {
                    font-family: 'google' !important;
                }
                
                body {
                    font-family: 'google' !important;
                    font-weight: 550;
                }

    //- HTML BODY
    body
        //- HEADER
        nav.uk-navbar-container.uk-navbar-transparent.uk-margin(uk-navbar)
            .uk-navbar-left
                ul.uk-navbar-nav
                    if (user && user.canAccessKeystone)
                        li
                            a.google(href='/keystone') Keystone
                    li 
                        a.google(href='/contacts') Сотрудники
            .uk-navbar-center
                a.uk-navbar-item.uk-logo.google(href='/') АВТОСЕРВИС
            .uk-navbar-right
                ul.uk-navbar-nav
                    if (user)
                        li
                            a.google= user.name.full
                        li
                            a.google(href='/keystone/signout')
                                i(uk-icon='sign-out')
                    else
                        li
                            a.google(href='/keystone/signin')
                                i(uk-icon='sign-in')
                                | Вход


        block content
        //- //- FOOTER
        //- .container: #footer

        //- 	//- You don't _have_ to include a link saying your site is powered by KeystoneJS, but we appreciate it!
        //- 	p Powered by <a href="http://keystonejs.com" target="_blank">Lirael</a>.


        //- JAVASCRIPT

        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/js/uikit.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/js/uikit-icons.min.js')